/ Section Works
%section#work
  .container
    %h2 Marchi
    %p
      Modus profuma la tua vita con le essenze piu’ ricercate,<br />
      cura il tuo corpo con i prodotti più indicati per la tua pelle e inventa con te i trucchi piu’ personali.<br />
      Se la bellezza fugge, Modus la ferma!
    / Begin of  .category
    -#
      .filter_wrap
        %span Select category
        / Begin of #filter_wrap
        %ul#filters
          %li.active
            %a{"data-filter" => "*"} All
          %li
            %a{"data-filter" => ".white, .yellow"} Branding
          %li
            %a{"data-filter" => ".blue, .red, .white"} Design
          %li
            %a{"data-filter" => ".saphir, .blue, .green"} Development
          %li
            %a{"data-filter" => ".blue, .green"} Printing

    #filter_content
      .red
        = image_tag "marchi/modus_acqua-di-parma.png", class:"bttrlazyloading"
      .white
        = image_tag "marchi/modus_alyssa-ashley.png", class:"bttrlazyloading"

      .blue
        = image_tag "marchi/modus_arval.png", class:"bttrlazyloading"
      .green
        = image_tag "marchi/modus_azzaro.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_biotherm.png", class:"bttrlazyloading"
      .red
        = image_tag "marchi/modus_boss.png", class:"bttrlazyloading"
      .white
        = image_tag "marchi/modus_bulgari.png", class:"bttrlazyloading"
      .saphir
        = image_tag "marchi/modus_cacharel.png", class:"bttrlazyloading"
      .blue
        = image_tag "marchi/modus_calvin-klein.png", class:"bttrlazyloading"
      .green
        = image_tag "marchi/modus_cartier.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_chanel.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_clarins.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_clinique.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_chloe.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_collistar.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_davidoff.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_diesel.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_dior.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_dolce-e-gabbana.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_elie-saab.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_elizabeth-arden.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_fendi.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_giorgio-armani.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_givenchy.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_gucci.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_guerlain.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_hermes.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_helena-rubestain.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_issey-miyake.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_janeke.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_jpg.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_kanebo.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_kenzo.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_la-mer.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_la-prairie.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_lancome.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_laura-biaggiotti.png", class:"bttrlazyloading"

      .yellow
        = image_tag "marchi/modus_mavala.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_moschino.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_mugler.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_narciso-rodriguez.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_orlane.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_paco-rabanne.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_ralph-lauren.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_roberto-cavalli.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_salavatore-ferragamo.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_shiseido.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_tommy-hilfiger.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_valentino.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_versace.png", class:"bttrlazyloading"
      .yellow
        = image_tag "marchi/modus_ysl.png", class:"bttrlazyloading"
    / End of #filter_content
  / end of container in works section
/ end of work
.separator