.loader
  .loading
.layout
  = partial "partials/header"
  / end of header
  .content
    = partial "partials/subheader"

    = partial "partials/clients"
    / End of #clients
    = partial "partials/app"

    = partial "partials/works"




    = partial "partials/team"
    = partial "partials/club"
    = partial "partials/about"
    = partial "partials/story"



      

    / End of #contact
  / end of content
  / Begin of  .to_the_top
  #to_the_top
  / End of .to_the_top
/ end of layout
= partial "partials/footer"

